In [3]:
import pandas as pd
df = pd.read_table('SMSSpamCollection', sep='\t', names=['label', 'sms_message'])
df.head(10)

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [6]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df['label']=enc.fit_transform(df['label'])
df.head(20)

    label                                        sms_message
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...
5       1  FreeMsg Hey there darling it's been 3 week's n...
6       0  Even my brother is not like to speak with me. ...
7       0  As per your request 'Melle Melle (Oru Minnamin...
8       1  WINNER!! As a valued network customer you have...
9       1  Had your mobile 11 months or more? U R entitle...
10      0  I'm gonna be home soon and i don't want to tal...
11      1  SIX chances to win CASH! From 100 to 20,000 po...
12      1  URGENT! You have won a 1 week FREE membership ...
13      0  I've been searching for the right words to tha...
14      0                I HAVE A DATE ON SUNDAY WITH WILL!!
15      1  XXXMobileMovieClub: To use your credit, click ...
16      0                         Oh k...i'm watching here:)
17      0  Eh u remember how 2 spell his name... Yes i di...
18      0  Fine if thats the way u feel. Thats the way ...
19      1  England v Macedonia - dont miss the goals/team...

In [ ]:
df['label'] = df.label.map({'spam': 1, 'ham': 0})

In [11]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
count_vector= CountVectorizer()
tfidf_vector= TfidfVectorizer()
documents = ['Hello, how are you!',
                'Win money, win from home.',
                'Call me now.',
                'Hello, Call hello you tomorrow?']

In [16]:
count_vector.fit(documents)
count_vector.get_feature_names()

['are',
 'call',
 'from',
 'hello',
 'home',
 'how',
 'me',
 'money',
 'now',
 'tomorrow',
 'win',
 'you']

In [17]:
freq_array_1 = count_vector.transform(documents).toarray()
print(freq_array_1)

[[1 0 0 1 0 1 0 0 0 0 0 1]
 [0 0 1 0 1 0 0 1 0 0 2 0]
 [0 1 0 0 0 0 1 0 1 0 0 0]
 [0 1 0 2 0 0 0 0 0 1 0 1]]

In [18]:
tfidf_vector.fit(documents)
tfidf_vector.get_feature_names()

['are',
 'call',
 'from',
 'hello',
 'home',
 'how',
 'me',
 'money',
 'now',
 'tomorrow',
 'win',
 'you']

In [19]:
freq_array_2= tfidf_vector.transform(documents).toarray()
print(freq_array_2)

[[0.55528266 0.         0.         0.43779123 0.         0.55528266
  0.         0.         0.         0.         0.         0.43779123]
 [0.         0.         0.37796447 0.         0.37796447 0.
  0.         0.37796447 0.         0.         0.75592895 0.        ]
 [0.         0.48693426 0.         0.         0.         0.
  0.61761437 0.         0.61761437 0.         0.         0.        ]
 [0.         0.362529   0.         0.725058   0.         0.
  0.         0.         0.         0.45982207 0.         0.362529  ]]

In [20]:
frequency_matrix = pd.DataFrame(freq_array_1, columns=count_vector.get_feature_names())
frequency_matrix

   are  call  from  hello  home  how  me  money  now  tomorrow  win  you
0    1     0     0      1     0    1   0      0    0         0    0    1
1    0     0     1      0     1    0   0      1    0         0    2    0
2    0     1     0      0     0    0   1      0    1         0    0    0
3    0     1     0      2     0    0   0      0    0         1    0    1

In [21]:

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['sms_message'], df['label'], random_state=1)

print('Number of rows in the total set: {}'.format(df.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 5572
Number of rows in the training set: 4179
Number of rows in the test set: 1393

In [22]:
count_vector = CountVectorizer()
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [24]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes=MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB()

In [26]:
y_pred=naive_bayes.predict(testing_data)

In [27]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: ', format(accuracy_score(y_test, y_pred)))
print('Precision score: ', format(precision_score(y_test,y_pred)))
print('Recall score: ', format(recall_score(y_test,y_pred)))
print('F1 score: ', format(f1_score(y_test,y_pred)))

Accuracy score:  0.9885139985642498
Precision score:  0.9720670391061452
Recall score:  0.9405405405405406
F1 score:  0.9560439560439562